.background {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background: var(--color-bg);
    display: flex;
}

.form-cont {
    flex: calc(3 / 5);
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    padding: 30px !important;
    background: var(--color-bg);
}

.form {
    width: 100%;
    height: 100%;
    margin: auto auto !important;
    box-sizing: border-box;
}

.onBoard-cont {
    flex: calc(2 / 5);
    padding: 30px !important;
    background: var(--color-container);
    display: flex;
    text-align: center;
}

.title-auth {
    font-family: var(--font-poppins), serif ;
    font-size: 24px;
    font-weight: bold;
    color: var(--color-title);
}

.description-auth {
    font-family: var(--font-poppins), serif;
    font-size: 16px;
    color: var(--color-description);
}

.description-auth.link {
    color: var(--color-primary);
}

@media (max-width: 1000px) {

    .background {
        flex-direction: column;
    }

    .form-cont {
        flex: 1;
    }

    .form {
        width: 100%;
        height: 100%;
        margin: auto auto !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .onBoard-cont {
        flex: 0;
    }

}