.container {
    color: #1977FF;
}

.chartContainer {
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.slice path {
    transition: opacity 0.3s ease;
    opacity: 1;
    stroke: white;
    stroke-width: 1;
}

.legend {
    font-family: Arial, sans-serif;
}