.background {
    display: flex;
    flex-direction: row;
    gap: 70px;
    max-width: 1440px;
    font-family: var(--font-raleway), serif;
    box-sizing: border-box;
    padding: 28px 20px !important;
    margin: 0 auto !important;
    width: 100%;
    scrollbar-width: thin;
    scrollbar-color: var(--color-outline) var(--color-container);
    color: var(--color-title);
}

.container {
    width: 100%;
    box-sizing: border-box;
    padding: 28px !important;
    border-radius: var(--border-radius);
}

.buttonFile {
    padding: 10px 0;
    background: var(--color-primary);
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    align-self: baseline;
}

.title {
    font-size: 24px;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

.titleInput {
    font-size: 16px;
    font-weight: normal;
    color: var(--color-title);
}

.label {
    font-family: var(--font-poppins), serif;
    font-size: 16px;
    font-weight: normal;
}

.hint {
    font-family: var(--font-poppins), serif;
    font-size: 16px;
    font-weight: normal;
    color: color-mix(in srgb, var(--color-title) 40%, transparent);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-family: var(--font-raleway), serif;
}

.modal {
    background: var(--color-container);
    padding: 24px 32px 20px 32px !important;
    margin: 20px !important;
    border-radius: var(--border-radius);
    max-width: 500px;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-title);
    box-sizing: border-box;
    overflow-y: auto;
    text-align: center;
}

.modal > .icon {
    margin-bottom: 20px !important;
}

.modal > h2 {
    line-height: 30px;
    margin: 0 0 !important;
    font-size: 24px;
}

.modal > .des {
    margin-top: 16px !important;
    font-weight: 200;
    line-height: 30px;
}

.modal button {
    margin-top: 20px !important;
    padding: 8px 16px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.error {
    box-sizing: border-box;
    padding: 12px !important;
    background: color-mix(in srgb, var(--color-error) 20%, transparent);
    border-radius: var(--border-radius);
    font-family: var(--font-raleway), serif;
    font-size: 16px;
    color: var(--color-title);
    opacity: 0;
    animation: fadeIn 0.3s ease forwards !important;
}

.iconBox {
    background: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 5px;
    gap: 16px;
    text-align: center;
    color: #FFFFFF;
    padding: 8px !important;
    width: 40px;
    height: 40px;
}

.fileBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 0 !important;
    background: color-mix(in srgb, var(--color-primary) 20%, transparent);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    transition: all 0.2s ease;
    position: relative;
    cursor: pointer;
    width: 100%;
    margin-bottom: 12px !important;
}

.fileIcon {
    margin-left: 16px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-title);
    width: 24px; /* Фиксированная ширина */
    height: 100%; /* Занимает всю высоту контейнера */
}

.fileIcon svg {
    width: 26px; /* Оригинальная ширина иконки */
    height: 26px; /* Оригинальная высота иконки */
    flex-shrink: 0;
}

.rowResult {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.titleResult {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    flex: 1
}

.btnAddFile {
    font-family: var(--font-raleway), serif;
    font-size: 16px;
    background: var(--color-primary);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 767px) {
    .container {
        padding: 8px 0 !important;
    }
}


