.background {
    display: flex;
    flex-direction: column;
    background: var(--color-container);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    padding: 16px !important;
    min-height: 200px;
    font-family: var(--font-raleway), serif;
    overflow: hidden;
    cursor: pointer;
}

.background:hover {
    background: color-mix(in srgb, var(--color-container) 60%, transparent);
}

.rowTitle {
    display: flex;
    flex-direction: row;
    align-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    min-width: 0;
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    min-width: 0;
}

.title {
    color: var(--color-title);
    font-size: 16px;
    font-weight: 600;
    text-transform: lowercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    min-width: 0;
}

.title::first-letter {
    text-transform: uppercase; /* Затем первую букву — к верхнему */
}

.rowDate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    font-size: 12px;
    box-sizing: border-box;
}

.date {
    font-family: var(--font-poppins), serif;
    color: var(--color-outline);
    font-weight: normal;
    font-size: 12px;
}

.gradient-line {
    height: 1px;
    background: linear-gradient(to right, #53B9F5, #1977FF);
    width: 100%;
}

.btns {
    display: flex;
    flex-direction: row;
    color: var(--color-primary);
    align-items: center;
    font-size: 12px;
    box-sizing: border-box;
    gap: 8px;
}

.approveBtn {
    border-radius: 5px;
    padding: 4px 12px !important;
}

.categoryBtn {
    background: color-mix(in srgb, var(--color-primary) 20%, transparent);
    border-radius: 5px;
    padding: 4px 12px !important;
}

.description {
    font-size: 12px;
    color: var(--color-title);
    font-weight: normal;
    text-transform: capitalize;
    line-height: 20px;
}

.profileRow {
    display: flex;
    flex-direction: column;
    align-content: center;
    font-family: var(--font-raleway), serif;
    font-size: 12px;
}

.profileRow > .name {
    font-family: var(--font-raleway), serif;
    font-weight: bold;
    color: var(--color-title);
}

.profileRow > .mc {
    font-weight: 400;
    color: var(--color-primary);
}