.inputAuth {
    font-family: var(--font-poppins), serif;
    background: var(--color-container);
    border-radius: var(--border-radius);
    font-size: 16px;
    text-align: left;
    padding: 12px 16px !important;
}

.inputAuth > div {
    color: var(--color-description);
    font-size: 12px;
    margin-bottom: 2px !important;
}

.inputAuth > input {
    background: var(--color-container);
    color: var(--color-title);
    width: 100%;
}

.inputAuth > input::placeholder {
    color: var(--color-description);
}