.onBoard {
    width: 80%;
    margin: auto auto !important;
    font-family: var(--font-raleway), serif;
}

.title-onBoard {
    margin-top: 56px !important;
    font-size: 20px;
    font-weight: 600;
    color: var(--color-title);
    margin-bottom: 0.6vw !important;
}

.description-onBoard {
    margin-top: 16px !important;
    font-size: 16px;
    font-weight: normal;
    color: var(--color-description);
}

.row-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image-onBoard {
    width: 200px;
}

.btnContainer {
    width: 40px;
    height: 40px;
    border-radius: var(--border-radius);
    background: color-mix(in srgb, var(--color-primary) 20%, transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: background 0.3s ease;
    margin: 0 32px !important;
}

.row-image.button.image-in-button {
    width: 30%;
    height: auto;
    position: absolute;
}