.onBoard {
    width: 80%;
    margin: auto auto !important;
}

.title-onBoard {
    font-family: var(--font-raleway), serif;
    margin-top: 0.6vw !important;
    font-size: 1.0vw;
    font-weight: 600;
    color: var(--color-title);
    margin-bottom: 0.6vw !important;
}

.description-onBoard {
    font-family: var(--font-raleway), serif;
    margin-top: 0.6vw !important;
    font-size: 0.8vw;
    font-weight: normal;
    color: var(--color-description);
    margin-bottom: 0.6vw !important;
}

.row-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image-onBoard {
    width: 30%;
}

.row-image > button {
    width: 4vh; /* Adjust size as needed */
    height: 4vh; /* Adjust size as needed */
    border: none;
    border-radius: 10px; /* Rounded corners */
    background: linear-gradient(180deg, #D9D9D9, #679FF0); /* Gradient background */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    margin: 0 1vw !important;
}

.row-image.button.image-in-button {
    width: 50%; /* Adjust size of the SVG */
    height: auto; /* Maintain aspect ratio */
    position: absolute; /* Center the icon */
}