.buttonAuth {
    font-family: var(--font-raleway), serif;
    font-size: 16px;
    font-weight: normal;
    padding: 12px !important;
    color: #FFFFFF;
    background: var(--color-primary);
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

.buttonAuth:hover {
    opacity: 0.8;
}