.background {
    background: var(--color-container);
    font-family: var(--font-raleway), serif;
    font-size: 16px;
    font-weight: normal;
    border-radius: var(--border-radius);
    text-align: left;
    box-sizing: border-box;
    padding: 16px 14px !important;
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 200px;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
}

.background > div {
    color: var(--color-description);
    font-size: 16px;
    display: flex;
    align-items: center;
}

.background > input {
    background: var(--color-container);
    color: var(--color-title);
    width: 100%;
    margin-left: 12px !important;
}

.background > input::placeholder {
    color: var(--color-description);
}